<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="KalaConnection" connectionString="Data Source=172.16.13.1;Initial Catalog=KalaClubSQL;Persist Security Info=True;User ID=sa;Password=Passw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="RutaContratos" value="C:\Users\nexx\Desktop\Contratos\" />
    <add key="RutaReporte" value="C:\Uers\nexx\documents\visual studio 2010\Projects\ContractSender\ContractSender\Reports\Contrato2018.rpt" />
    <add key="RutaCaratulas" value="C:\Users\nexx\Desktop\Caratulas\" />
    <add key="RutaReporteHC" value="C:\Users\nexx\documents\visual studio 2010\Projects\ContractSender\ContractSender\Reports\hojadecondiciones.rpt" />
    <add key="RutaMerge" value="C:\Users\nexx\Desktop\Merge\" />
    <add key="Mensaje" value="C:\Users\nexx\Desktop\Contratos\Mensaje.txt" />
    <add key="MailFrom" value="sinrespuesta@centralworkout.com" />
    <add key="BCCMail" value="evaldes@sportium.com.mx" />
    <add key="PassMailFrom" value="Apybg7seKKV11v4ceJjgYOYkW7mGGdJl79rZOMHLWehq" />
    <add key="AmazonUser" value="AKIAI4NXA4UDJR4TQUAQ" />
    <add key="MailFromName" value="Central Workout" />
    <add key="Subject" value="Contrato de prestación de servicios Central Workout" />
    <add key="Host" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="Port" value="587" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>